<?xml version="1.0"?>
<!--
/**
 * E: test@test.com
 * W:www.magento.con
 */
-->
<config>
    <modules>
        <Magento91_apgpay>
            <version>0.9.0</version>
        </Magento91_apgpay>
    </modules>
    <global>
		
		  <helpers>
		  	   <apgpay>
		  	   	   <class>Magento91_apgpay_Helper</class>
		  	   </apgpay>
		  </helpers>		
        <models>
            <apgpay>
                <class>Magento91_apgpay_Model</class>
                <resourceModel>apgpay_mysql4</resourceModel>
            </apgpay>
            <apgpay_mysql4>
                <class>Magento91_apgpay_Model_Mysql4</class>
                <entities>
                    <api_debug><table>apgpay_api_debug</table></api_debug>
                </entities>
            </apgpay_mysql4>
        </models>
        <resources>
            <apgpay_setup>
                <setup>
                    <module>Magento91_apgpay</module>
                    <class>Magento91_apgpay_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </apgpay_setup>
            <apgpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </apgpay_write>
            <apgpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </apgpay_read>
        </resources>
        <blocks>
            <apgpay><class>Magento91_apgpay_Block</class></apgpay>
    	</blocks>
    </global>
    <frontend>
        <secure_url>
            <apgpay_payment>/apgpay/payment</apgpay_payment>
        </secure_url>
        <routers>
            <apgpay>
                <use>standard</use>
                <args>
                    <module>Magento91_apgpay</module>
                    <frontName>apgpay</frontName>
                </args>
            </apgpay>
        </routers>
        <translate>
            <modules>
                <Magento91_apgpay>
                    <files>
                        <default>Magento91_apgpay.csv</default>
                    </files>
                </Magento91_apgpay>
            </modules>
        </translate>
        <layout>
            <updates>
                <apgpay>
                    <file>apgpay.xml</file>
                </apgpay>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Magento91_apgpay>
                    <files>
                        <default>Magento91_apgpay.csv</default>
                    </files>
                </Magento91_apgpay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <apgpay_payment>
                  <model>apgpay/payment</model>
                  <title>apgpay Payment Gateway</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
            </apgpay_payment>
        </payment>
    </default>
</config>
